Repository lonely-lockley/archinsight, pull requests merged in 2024-04, with the labels that each got.

#80 Named Imports Checking
  translator/src/main/java/com/github/lonelylockley/archinsight/link/Linker.java
Labels: bug, translator

#82 Fixed issues in Translator
  translator/src/main/java/com/github/lonelylockley/archinsight/TranslatorService.java
  translator/src/main/java/com/github/lonelylockley/archinsight/link/Linker.java
  translator/src/main/java/com/github/lonelylockley/archinsight/link/LinkerUtil.java
  translator/src/main/java/com/github/lonelylockley/archinsight/parse/Parser.java
Labels: bug, backend, translator

#83 Feature/new introspections
  editor-ui/frontend/index.html
  editor-ui/frontend/src/EditorInitializer.ts
  editor-ui/src/main/bundles/dev.bundle
  editor-ui/src/main/java/com/github/lonelylockley/archinsight/components/EditorTabComponent.java
  editor-ui/src/main/java/com/github/lonelylockley/archinsight/components/TabsComponent.java
  editor-ui/src/main/java/com/github/lonelylockley/archinsight/events/SourceCompilationEvent.java
  editor-ui/src/main/java/com/github/lonelylockley/archinsight/remote/ExportSource.java
  editor-ui/src/main/java/com/github/lonelylockley/archinsight/remote/RenderSource.java
  gradle.properties
  translator/src/main/java/com/github/lonelylockley/archinsight/TranslationUtil.java
  translator/src/main/java/com/github/lonelylockley/archinsight/TranslatorService.java
  translator/src/main/java/com/github/lonelylockley/archinsight/introspect/Introspection.java
  translator/src/main/java/com/github/lonelylockley/archinsight/link/Linker.java
  translator/src/main/java/com/github/lonelylockley/archinsight/model/imports/AbstractImport.java
  translator/src/main/java/com/github/lonelylockley/archinsight/parse/InsightParseErrorListener.java
  translator/src/main/java/com/github/lonelylockley/archinsight/parse/Parser.java
Labels: bug, enhancement, backend, translator
